
<div class="mt-3">
    <h2>{{ 'admin.fighters.title' | translate }}</h2>

    <div class="d-flex justify-content-end mt-3 mb-3">
        <button #openModalFormRival [hidden]="true" data-toggle="modal" data-target="#formRivalModal" type="button">Open Modal</button>
        <button type="button" class="btn btn-dark" (click)="openModal('add')">
            <fa-icon [icon]="faPlus"></fa-icon> {{ 'admin.fighters.fighter' | translate }}
        </button>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'general.firstName' | translate }}</th>
            <th scope="col">{{ 'general.lastName' | translate }}</th>
            <th scope="col">{{ 'general.weight' | translate }} (kg)</th>
            <th scope="col">{{ 'general.sex' | translate }}</th>
            <th scope="col">{{ 'general.country' | translate }}</th>
            <th scope="col" style="width: 65px"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="7" *ngIf="loadingRivals">
                <div class="d-flex justify-content-center w-100">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                </div>
            </td>
            <td colspan="7" *ngIf="!loadingRivals && rivals.length === 0">
                <div class="d-flex justify-content-center w-100">
                    <span class="">{{ 'admin.fighters.emptyList' | translate }}</span>
                </div>
            </td>
        </tr>
        <tr *ngFor="let rival of rivals; let i = index">
            <th scope="row">{{dataForPagination.pageInUse > 1 ? (i + 1) + ((dataForPagination.pageInUse - 1) *20) : (i + 1) }}</th>
            <td>{{rival.name}}</td>
            <td>{{rival.lastname}}</td>
            <td>{{rival.weight}}</td>
            <td>{{rival.sex}}</td>
            <td>{{rival.country}}</td>
            <td>
                <a class="text-secondary" type="button" (click)="openModal('edit', rival, i)">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </a>&nbsp;
                <a data-toggle="modal" data-target="#confirmDeleteRivalModal" class="text-danger" type="button" (click)="selectedRival=rival">
                    <fa-icon [icon]="faTrash" ></fa-icon>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- PAGINATION -->
    <app-pagination [dataPages]='dataForPagination' (clickPage)='getPage($event)' *ngIf='dataForPagination.pages.length > 0'></app-pagination>
</div>

<!-- Modal ADD-EDIT -->
<div class="modal fade" id="formRivalModal" tabindex="-1" role="dialog" aria-labelledby="formRivalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formRivalCenterTitle">{{ action === 'add' ? ('admin.fighters.addFighter' | translate) : ('admin.fighters.editFighter' | translate) }}</h5>
                <button #buttonCloseModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="rivalForm" (ngSubmit)="validateForm()">
                    <div class="row pl-3">
                        <section class="section-image col-3">
                            <img  *ngIf="photoPreview" [src]="photoPreview" alt="Photo of rival" class="image">
                            <input type="file" accept=".jpg, .png" (change)="chargeImage($event)">
                            <fa-icon [icon]="faCamera"></fa-icon>
                        </section>

                        <section class="form-row align-items-center col-9">
                            <div class="form-group col-6">
                                <label class="sr-only" for="firstNameInput">{{ 'general.firstName' | translate }}</label>
                                <input type="text" class="form-control mb-3" id="firstNameInput" placeholder="{{ 'general.firstName' | translate }}" formControlName="name">
                            </div>
                            <div class="form-group col-6">
                                <label class="sr-only" for="LastnameInput">{{ 'general.lastName' | translate }}</label>
                                <input type="text" class="form-control mb-3" id="LastnameInput" placeholder="{{ 'general.lastName' | translate }}" formControlName="lastname">
                            </div>
                            <div class="col-12" *ngIf="submitted && (data.name.errors || data.lastname.errors)">
                                <div *ngIf="submitted && data.name.errors" class="alert alert-danger">
                                    <div *ngIf="data.name.errors.required">{{ 'admin.fighters.nameRequired' | translate }}</div>
                                </div>
                                <div *ngIf="submitted && data.lastname.errors" class="alert alert-danger">
                                    <div *ngIf="data.lastname.errors.required">{{ 'admin.fighters.lastNameRequired' | translate }}</div>
                                </div>
                            </div>

                            <div class="form-group col-6">
                                <label class="sr-only" for="weightInput">{{ 'general.weight' | translate }}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><b>Kg</b></div>
                                    </div>
                                    <input type="number" class="form-control" id="weightInput" placeholder="{{ 'general.weight' | translate }}" formControlName="weight">
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label class="sr-only" for="sexInputSelect">{{ 'general.sex' | translate }}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><fa-icon [icon]="faVenusMars"></fa-icon></div>
                                    </div>
                                    <select class="custom-select" id="sexInputSelect" formControlName="sex">
                                        <option selected hidden [ngValue]="null">{{ 'general.sex' | translate }}</option>
                                        <option disabled value="none">{{ 'general.choose' | translate }}...</option>
                                        <option value="F">{{ 'general.female' | translate }}</option>
                                        <option value="M">{{ 'general.male' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="submitted && (data.weight.errors || data.sex.errors)">
                                <div *ngIf="submitted && data.weight.errors" class="alert alert-danger">
                                    <div *ngIf="data.weight.errors.required">{{ 'admin.fighters.sexRequired' | translate }}</div>
                                </div>
                                <div *ngIf="submitted && data.sex.errors" class="alert alert-danger">
                                    <div *ngIf="data.sex.errors.required">{{ 'admin.fighters.weightRequired' | translate }}</div>
                                </div>
                            </div>
                            <div class="form-group col-12 mb-0">
                                <label class="sr-only" for="countryInputSelect">{{ 'general.country' | translate }}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><fa-icon [icon]="faFlag"></fa-icon></div>
                                    </div>
                                    <select class="custom-select" id="countryInputSelect" data-live-search="true" formControlName="country">
                                        <option *ngIf="action === 'add' && data.country.value === null" selected hidden [ngValue]="null">{{ 'general.country' | translate }}</option>
                                        <option *ngIf="data.country.value == null" disabled value="none">{{ 'general.choose' | translate }}...</option>
                                        <option *ngFor="let country of countries" [selected]="country.name == getRivalCountry(data)" [ngValue]="country">{{country.name}}</option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && data.country.errors" class="alert alert-danger">
                                    <div *ngIf="data.country.errors.required">{{ 'admin.fighters.countryRequired' | translate }}</div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <footer class="col-12">
                        <div class=" d-flex justify-content-end">
                            <button [disabled]="loading" type="submit" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{action === 'add' ? ('admin.fighters.addFighter' | translate) :  ('admin.fighters.updateFighter' | translate) }}
                            </button>
                        </div>
                    </footer>

                </form>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '3px'}"></ngx-loading>

<!-- Modal DELETE -->
<div class="modal" tabindex="-1" role="dialog" id="confirmDeleteRivalModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'admin.fighters.titleConfirmDelete' | translate }}</h5>
                <button #buttonCloseConfirmModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ 'admin.fighters.messageConfirmDelete' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'general.close' | translate }}</button>
                <button type="button" class="btn btn-primary" (click)="deleteRival(selectedRival)">{{ 'general.textDelete' | translate }}</button>
            </div>
        </div>
    </div>
</div>


