td a {
  cursor: pointer;
}

.section-image {
    width: 100%;
    height: 194px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: gray;
    border-radius: .25rem;

    .image {
        max-width: 100%;
        max-height: 100%;
        border-radius: .25rem;
        object-fit: cover;
    }
    input {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        cursor: pointer;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        max-width: 100%;
        height: 100%;
        z-index: 1000;
    }
    fa-icon {
        position: absolute;
        color: white;
        font-size: 30px;
        z-index: 99;
        align-self: center;
    }
}
