.line-right {
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: black;
}

.line-right-bottom {
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
}

.line-bottom {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: black;
}

.separation {
    margin-top: 130px;
}

.separation div div {
    width: 20px;
    height: 48px;
}

.rival {
    height: 48px;
    padding: 12px;
    border: 1px solid #aaa;
    border-top-width: 0;
    font-size: 14px;
    flex-grow: 100;
    text-overflow: ellipsis;
    max-width: 202px;
    min-width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

.score {
    height: 48px;
    width: 48px !important;
    text-align: center;
    padding-top: 12px;
    border: 1px solid #aaa;
    border-top-width: 0;
    border-left-width: 0;
    font-size: 14px;
    position: relative;
}

.container-step-1 {
    padding: 0;
    margin: 0;
    border: 0 solid #aaa;
    border-top-width: 1px;
}

.container-step-2 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-step-3 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-step-4 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-rival-par {
    border: 0 solid #aaa;
    border-top-width: 1px;
}

.step-title {
    height: 70px;
    margin-top: 35px;
    margin-bottom: 25px;
    padding-top: 12px;
    font-size: 14px;
    text-align:center;
    border:1px solid #aaa;
    background-color:#f2f2f2;
}

.col.p-0.d-flex.flex-column {
    max-width: 250px;
}

@media (max-width: 570px) {
    .col.p-0.d-flex.flex-column {
        max-width: 100%;
    }
    div.rival {
        max-width: 100%;
    }
}
