.menu-left{
    min-height: 100%;
    padding-left: 0;
    aside{
        position: absolute;
        width: 100%;
    }
}
.sidebar-header {
    margin: 14px 0 20px;
}
.nav-link {
    color: #FFFFFF !important;
    opacity: .5;
    &.active-link {
        opacity: 1;
    }
}
.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#navbarDropdown {
    color: black !important;
}



