<nav class="navbar navbar-expand navbar-light bg-light nav-fixed">
    <a class="navbar-brand" routerLink="/home">
        <img src="https://www.olympicchannel.com/images/static/logo-oc.svg"
             class="img-fluid w-100 d-block d-sm-none"
             alt="logo"/>
        <img
        src="https://www.olympicchannel.com/images/static/logo-oc.svg" class="img-fluid w-50 d-none d-sm-block"
        alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-secondary rounded-circle mr-3" id="logoutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faUser"></fa-icon>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="logoutDropdown">
                    <a (click)="logout()" class="dropdown-item" style="cursor: pointer">{{ 'general.logout' | translate }}</a>
                </div>
            </li>

            <li class="nav-item dropdown cursor-pointer">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ currentLanguage | uppercase }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [ngClass]="{'active': currentLanguage == language}" *ngFor="let language of languages" (click)="changeLanguage(language)">
                        {{ language | uppercase }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid mt-5 pt-3">
    <div class="row">

        <div class="col-sm-3 col-12 menu-left">

            <aside class="position-fixed h-100 w-25">
                <!-- Sidebar -->
                <nav class="navbar navbar-light table-dark h-100 d-block">
                    <div class="sidebar-header">
                        <h3>Menu</h3>
                    </div>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/home" routerLinkActive="active-link">{{ 'admin.menu.home' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/rivals" routerLinkActive="active-link">{{ 'admin.menu.fighters' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/tournaments" routerLinkActive="active-link">{{ 'admin.menu.tournaments' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/rounds" routerLinkActive="active-link">{{ 'admin.menu.rounds' | translate }}</a>
                        </li>
                    </ul>
                </nav>

            </aside>
        </div>

        <div class="col-sm-9 col-12">
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>

    </div>
</div>
