<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">

      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.description}}</td>
      <td>
        <button class="btn btn-primary" (click)="selectEmployee(employee)"> Select</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="card text-center" *ngIf="selectedEmployee">
    <div class="card-header">
      # {{selectedEmployee.id}}
    </div>
    <div class="card-block">
      <h4 class="card-title">Employee</h4>
      <p class="card-text">
        {{selectedEmployee.name}}<br>
        {{selectedEmployee.description}}
      </p>
    </div>

  </div>
</div>
