<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
        <img src="https://www.olympicchannel.com/images/static/logo-oc.svg"
             class="img-fluid w-100 d-block d-sm-none" alt="logo"/>
        <img
        src="https://www.olympicchannel.com/images/static/logo-oc.svg" class="img-fluid w-50 d-none d-sm-block"
        alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card mt-5">
                <div class="card-header">
                    {{ 'login.title' | translate }}
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">{{ 'login.username' | translate }}</label> <input id="username" type="text"
                                                                          formControlName="username"
                                                                          class="form-control"
                                                                          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'login.password' | translate }}</label> <input id="password" type="password"
                                                                          formControlName="password"
                                                                          class="form-control"
                                                                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary float-right">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> {{ 'login.login' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

