<div class="d-flex justify-content-center w-100 bottom" *ngIf='dataPages.pages.length > 0 && dataPages.pages.length <= 8 '>
    <div class="disabled-class" [ngClass]="dataPages.pageInUse === 1? 'text-disabled' : ''" (click)='firstPage()'> {{ 'general.first' | translate }} </div>
    <div class="disabled-class"  [ngClass]="dataPages.pageInUse === 1? 'text-disabled' : ''" (click)='previousPage()'> &laquo; </div>
    <div *ngFor='let pageController of dataPages.pages'>
        <div class='disabled-middle-class'  [ngClass]="pageController.selected? 'enabled' : ''" (click)='getPage( pageController.page + 1 )'>
            {{pageController.page + 1}}
        </div>
    </div>
    <div class="disabled-class"  [ngClass]="dataPages.pageInUse === dataPages.allPages? 'text-disabled' : ''" (click)='nextPage()'> &raquo; </div>
    <div class="disabled-class" [ngClass]="dataPages.pageInUse === dataPages.allPages? 'text-disabled' : ''" (click)='lastPage()'> {{ 'general.last' | translate }} </div>
</div>
<div class="d-flex justify-content-center w-100" *ngIf='dataPages.pages.length > 8 '>
    <div class="disabled-class" [ngClass]="dataPages.pageInUse === 1? 'text-disabled' : ''" (click)='firstPage()'> {{ 'general.first' | translate }} </div>
    <div class="disabled-class"  [ngClass]="dataPages.pageInUse === 1? 'text-disabled' : ''" (click)='previousPage()'> &laquo; </div>
    <div class="disabled-class" *ngIf='(dataPages.middlePage - 2) == dataPages.mainPage && dataPages.mainPage > 1'>...</div>
    <div class='disabled-middle-class'  *ngIf='dataPages.mainPage < dataPages.middlePage - 1 '  [ngClass]="dataPages.pageInUse === dataPages.mainPage? 'enabled' : ''" (click)='getPage( dataPages.mainPage )'>
           {{ dataPages.mainPage }}
    </div>
    <div class="disabled-class"*ngIf='(dataPages.middlePage - 1) !== 2 && (dataPages.middlePage - 2) !== dataPages.mainPage '>...</div>
    <div class='disabled-middle-class'  [ngClass]="dataPages.pageInUse === ( dataPages.middlePage - 1 ) ? 'enabled' : ''" (click)='getPage( dataPages.middlePage - 1)'>
        {{ dataPages.middlePage - 1 }}
    </div>
    <div class='disabled-middle-class'  [ngClass]="dataPages.pageInUse === dataPages.middlePage ? 'enabled' : ''" (click)='getPage( dataPages.middlePage )'>
        {{ dataPages.middlePage }}
    </div>
    <div class='disabled-middle-class'  [ngClass]="dataPages.pageInUse === ( dataPages.middlePage + 1 ) ? 'enabled' : ''" (click)='getPage( dataPages.middlePage + 1 )'>
        {{ dataPages.middlePage + 1 }}
    </div>
    <div class="disabled-class" *ngIf='(dataPages.middlePage + 1) < (dataPages.allPages -1)  && (dataPages.middlePage +1) !== (dataPages.mainPage + 3)'>...</div>
    <div class='disabled-middle-class'  *ngIf='dataPages.allPages > dataPages.middlePage + 1 && (dataPages.middlePage + 1) !== 4 ' [ngClass]="dataPages.pageInUse === dataPages.allPages? 'enabled' : ''" (click)='getPage( dataPages.allPages )'>
           {{ dataPages.allPages }}
    </div>
    <div class="disabled-class"  [ngClass]="dataPages.pageInUse === dataPages.allPages? 'text-disabled' : ''" (click)='nextPage()'> &raquo; </div>
    <div class="disabled-class" [ngClass]="dataPages.pageInUse === dataPages.allPages? 'text-disabled' : ''" (click)='lastPage()'> {{ 'general.last' | translate }} </div>
</div>

