
.enabled{
    padding: 0.1875rem 0.625rem;
    background: #2199e8 !important;
    color: #fefefe !important;
    cursor: default;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-position: center;
    transition: background 0.8s;
}


.enabled:hover{
    color:#fefefe;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(2px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
    background: #2199e8 radial-gradient(circle, transparent 1%, #5eb2eb 1%) center/15000% !important;
}

.enabled:active{
    background-color: #2f74b1;
    background-size: 100%;
    transition: background 0s;
}

.disabled-class {
    padding: 0.1875rem 0.625rem;
    background: #fefefe;
    color: #343a40;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 2px;
}

.disabled-middle-class {
    padding: 0.1875rem 0.625rem;
    background: #fefefe;
    color: #343a40;
    cursor: default;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 300ms;
    background-position: center;
    transition: background 0.8s;
}

.text-disabled {
    color: #3f414250 !important;
    cursor: default !important;
}

.bottom {
    margin-bottom: 2.5rem !important;
}

.disabled-middle-class:hover{
    color:#fefefe;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(2px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
    background: #2a3a47 radial-gradient(circle, transparent 1%, rgb(65, 183, 219) 1%) center/15000%;
}

.disabled-middle-class:active{
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}
