<div class="mb-4 mt-3">

    <div class="form-group col-6 p-0">
        <label class="sr-only" for="countryInputSelect">{{ 'general.country' | translate }}</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faSkull"  *ngIf="tournaments.length > 0"></fa-icon>
                    <span *ngIf="tournaments.length === 0" class="spinner-border spinner-border-sm mr-1"></span>
                </div>
            </div>
            <select class="custom-select" id="countryInputSelect" data-live-search="true" (change)="onSelectTournament()" [(ngModel)]="selectedTournament" [disabled]="tournaments.length === 0">
                <option selected hidden [ngValue]="undefined">{{ 'admin.rounds.filterTournament' | translate }}</option>
                <option *ngFor="let tourney of tournaments" [ngValue]="tourney">{{tourney.name}}</option>
            </select>
        </div>
    </div>
    <div class="btn-group mr-2" *ngIf="selectedTournament">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{ selectedSex ? (selectedSex === 'F' ? ('general.female' | translate) : ('general.male' | translate)) : ('admin.rounds.filterSex' | translate) }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" (click)="onSelectSex('F')">{{ 'general.female' | translate }}</a> <a class="dropdown-item" (click)="onSelectSex('M')">{{ 'general.male' | translate }}</a>
        </div>
    </div>
    <div class="btn-group mr-2" *ngIf="selectedSex">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {{ selectedCategory ? selectedCategory.name : ('admin.rounds.filterCategory' | translate) }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let category of getCategoriesBySex()" (click)="onSelectCategory(category)">{{ clearCategoryToTranslate(category.name) | translate}}</a>
        </div>
    </div>
    <div class="btn-group" *ngIf="roundBattles && roundBattles.length > 0">
        <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#confirmDeleteRoundModal">
            <span *ngIf="deletingRound" class="spinner-border spinner-border-sm mr-1"></span>
            <fa-icon [icon]="faTrash" ></fa-icon>
        </a>
    </div>

    <div class="btn-group ml-2">
        <span *ngIf="loadingRivals" class="spinner-border spinner-border-sm mr-1"></span>
    </div>
    <br><br>

    <div class="boxing-not-found" *ngIf="(!roundBattles || roundBattles.length === 0) && !rivals">
        <img src="assets/icon/boxing.svg" alt="" class="boxing-not-found--img">
    </div>

    <div *ngIf="!roundBattles && rivals" class="fadeIn">
        <label class="h4 w-100 text-center">{{ 'admin.rounds.displayListRivals' | translate }}</label>
        <ng-select [(ngModel)]="lastSelected" bindLabel="rival" class="custom-select mb-4 item-width ml-auto mr-auto" (change)="newRival()" [disabled]="listCompleted" id="rivalsSelect">
            <template *ngFor="let rival of rivals;">
                <ng-option *ngIf="!rival.disable" [value]="rival">{{rival.name}} {{rival.lastname}}</ng-option>
            </template>
        </ng-select>

        <div *ngFor="let couple of selectedBattles; index as i1;" class="mb-4 d-flex flex-column align-items-center">
            <div class="input-group mb-1 item-width">
                <div class="input-group-prepend">
                    <label for="dateBattel-{{i1}}" class="input-group-text">{{ 'admin.rounds.selectBattleDate' | translate}} </label>
                </div>
                <input type="date" id="dateBattel-{{i1}}" class="form-control" [(ngModel)]="couple.date">
            </div>
            <ul class="list-group item-width">
                <li class="list-group-item no-padding" *ngFor="let member of couple.members; index as i2;">
                    <ul class="list-group list-group-horizontal" *ngIf="member">
                        <li class="list-group-item item-mini list-group-item-dark">{{member.id}}</li>
                        <li class="list-group-item item-member">
                            <img *ngIf="member.info" src="https://www.countryflags.io/{{member.info['country_acronym']}}/flat/32.png" alt="">
                            &nbsp;
                            {{member.info ? member.info['name']+' '+member.info['lastname'] : '' }}
                        </li>
                        <li class="list-group-item item-mini">
                            <a data-toggle="modal" data-target="#confirmDeleteRivalModal" class="text-dark" type="button" (click)="deleteRival(i2, i1)" *ngIf="member.info">
                                <fa-icon [icon]="faTrash" ></fa-icon>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-dark w-25" [disabled]="!listCompleted || savingRound" (click)="saveRound()">
                <span *ngIf="savingRound" class="spinner-border spinner-border-sm mr-1"></span>
                SAVE ROUND
            </button>
        </div>
    </div>

    <aw-wizard *ngIf="roundBattles && roundBattles.length > 0" class="mt-3 fadeIn">
        <aw-wizard-step stepTitle="Step 1" class="mt-3 mb-3">

            <app-battle-step
                [matches]="filterByStep(roundBattles, 1)"
                (edit)="cloneObject($event)"
                (save)="saveDateBattle($event)"
            ></app-battle-step>

            <div class="btn-group">
                <button type="button" class="btn btn-dark button-width" awNextStep>{{ 'admin.rounds.nextStep' | translate}}</button>
            </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Step 2" class="mt-3 mb-3">

            <app-battle-step
                [matches]="filterByStep(roundBattles, 2)"
                (edit)="cloneObject($event)"
                (save)="saveDateBattle($event)"
            ></app-battle-step>

            <div class="btn-group float-right">
                <button type="button" class="btn btn-secondary button-width" awPreviousStep>{{ 'admin.rounds.previousStep' | translate}}</button>
                <button type="button" class="btn btn-dark button-width" awNextStep>{{ 'admin.rounds.nextStep' | translate}}</button>
            </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Step 3" class="mt-3 mb-3">

            <app-battle-step
                [matches]="filterByStep(roundBattles, 3)"
                (edit)="cloneObject($event)"
                (save)="saveDateBattle($event)"
            ></app-battle-step>

            <div class="btn-group float-right">
                <button type="button" class="btn btn-secondary button-width" awPreviousStep>{{ 'admin.rounds.previousStep' | translate}}</button>
                <button type="button" class="btn btn-dark button-width" awNextStep>{{ 'admin.rounds.nextStep' | translate}}</button>
            </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Step 4" class="mt-3 mb-3">

            <app-battle-step
                [matches]="filterByStep(roundBattles, 4)"
                (edit)="cloneObject($event)"
                (save)="saveDateBattle($event)"
            ></app-battle-step>

            <div class="btn-group float-right">
                <button type="button" class="btn btn-secondary button-width" awPreviousStep>{{ 'admin.rounds.previousStep' | translate}}</button>
            </div>
        </aw-wizard-step>
    </aw-wizard>

</div>


<!--  MODAL ADD CHAMPION  -->
<div class="modal" tabindex="-1" role="dialog" id="addScoreModal" *ngIf="matchSelected">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'admin.rounds.addScore' | translate}}</h5>
                <button #buttonCloseModalMatch type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="saveScores()">

                    <div class="form-row align-items-center">
                        <div class="col-12 col-sm-7">
                            <div class="input-group mb-2 mr-sm-2">
                                <label class="sr-only" for="nameRivalInput1">{{ 'admin.fighters.rival' | translate}}</label>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <fa-icon [icon]="faUser"></fa-icon>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="nameRivalInput1" disabled
                                       value="{{matchSelected.rival1.name+' '+matchSelected.rival1.lastname}}">
                            </div>
                        </div>
                        <div class="col-6 col-sm-3">
                            <div class="input-group mb-2 mr-sm-2">
                                <label class="sr-only" for="scoreRivalInput1">{{ 'admin.rounds.score' | translate}}</label>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <fa-icon [icon]="faSortNumericUpAlt"></fa-icon>
                                    </div>
                                </div>
                                <input [maxlength]="4" type="text" class="form-control" id="scoreRivalInput1" name="rival1_score" [(ngModel)]="matchSelected.rival1_score">
                            </div>
                        </div>
                        <div class="col-4 col-sm-2">
                            <div class="input-group mb-2 mr-sm-2 radio-crown">
                                <input type="radio" id="winner1" name="winner" value="1"
                                       [(ngModel)]="matchSelected.winner">
                                <label for="winner1" class="crown">
                                    <fa-icon [icon]="faCrown" [ngClass]="matchSelected.winner == 1 ? 'text-warning' : 'text-black-50'"></fa-icon>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-12 col-sm-7">
                            <div class="input-group mb-2 mr-sm-2">
                                <label class="sr-only" for="nameRivalInput2">{{ 'admin.fighters.rival' | translate}}</label>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <fa-icon [icon]="faUser"></fa-icon>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="nameRivalInput2" disabled value="{{matchSelected.rival2.name+' '+matchSelected.rival2.lastname}}">
                            </div>
                        </div>
                        <div class="col-8 col-sm-3">
                            <div class="input-group mb-2 mr-sm-2">
                                <label class="sr-only" for="scoreRivalInput2">{{ 'admin.rounds.score' | translate}}</label>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <fa-icon [icon]="faSortNumericUpAlt"></fa-icon>
                                    </div>
                                </div>
                                <input [maxlength]="4" type="text" class="form-control" id="scoreRivalInput2" name="rival2_score" [(ngModel)]="matchSelected.rival2_score">
                            </div>
                        </div>
                        <div class="col-4 col-sm-2">
                            <div class="input-group mb-2 mr-sm-2 radio-crown">
                                <input type="radio" id="winner2" name="winner" value="2" [(ngModel)]="matchSelected.winner">
                                <label for="winner2" class="crown">
                                    <fa-icon [icon]="faCrown" [ngClass]="matchSelected.winner == 2 ? 'text-warning' : 'text-black-50'"></fa-icon>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-group radio-crown">
                        <input type="checkbox" value="" id="live" name="live" [(ngModel)]="matchSelected.live">
                        <label class="checkbox-live" for="live" [ngClass]="matchSelected.live ? 'text-danger' : 'text-black-50'">
                            <img src="assets/icon/live.png" alt="" class="checkbox-live--icon" [ngClass]="matchSelected.live ? 'currently' : ''">
                            <span>{{ 'admin.rounds.currentlyLive' | translate}}</span>
                        </label>
                    </div>
                    <div *ngIf="errorValidation" class="alert alert-danger">
                        <div *ngIf="errorValidation">{{ 'admin.rounds.mustFillAllFields' | translate}}</div>
                    </div>

                    <footer class="col-12 mt-3">
                        <div class=" d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" [disabled]="updatingMatch">
                                {{ 'general.saveChanges' | translate}} <span *ngIf="updatingMatch" class="spinner-border spinner-border-sm mr-1"></span>
                            </button>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

<!--  MODAL DELETE ROUND  -->
<div class="modal" tabindex="-1" role="dialog" id="confirmDeleteRoundModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'admin.rounds.titleConfirmDelete' | translate}}</h5>
                <button #buttonCloseConfirmRoundModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ 'admin.rounds.messageConfirmDelete' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'general.close' | translate}}</button>
                <button type="button" class="btn btn-primary" (click)="deleteRound()">{{ 'general.textDelete' | translate}}</button>
            </div>
        </div>
    </div>
</div>
