
.radio-crown{
    position: relative;
    height: 32px;
    padding-left: 5px;

    input[type=radio], input[type=checkbox]{
        position: absolute;
        visibility: hidden;
    }
    label{
        position: absolute;
        cursor: pointer;
        &:hover{
            fa-icon.text-black-50{
                color: #000000 !important;
                transition: ease-in .4s;
            }
        }
    }
}
.crown{
    font-size: 20px;
}
.checkbox-live {
    margin-top: 10px;
    font-size: 15px;
    &:hover{
        color: #b62f2f !important;
        transition: ease-in .2s;
        .checkbox-live--icon {
            filter: invert(22%) sepia(58%) saturate(2521%) hue-rotate(350deg) brightness(108%) contrast(74%);
        }
    }
    &--icon{
        filter: invert(41%) sepia(1%) saturate(848%) hue-rotate(29deg) brightness(95%) contrast(87%);
        width: 27px;
        top: -3px;
        position: relative;
        &.currently{
            filter: invert(38%) sepia(55%) saturate(4253%) hue-rotate(332deg) brightness(86%) contrast(99%);
        }
    }
    span{
        font-weight: 700;
        padding-left: 7px;
    }

}
.button-width{
    width: 140px;
}



.list-group-horizontal .list-group-item {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.list-group-item.no-padding {
    border: 0;
}

.item-mini {
    width: 45px;
    justify-content: center;
}

.item-member {
    width: 100%;
}

.disabled-field {
    pointer-events: none;
    display: none;
}


