
.a-open-modal{
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.without-border-left{
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.flag{
    width: 32px;
    height: 32px;
}
td{
    padding-bottom: 4px;
}
