
<div *ngFor="let match of matches; index as i;">
    <div class="input-group mb-1 item-width" *ngIf="match.winner">
        <div class="input-group-prepend">
            <label class="input-group-text">{{ match.date | date }}</label>
        </div>
    </div>
    <div class="input-group mb-1 item-width" *ngIf="!match.winner">
        <div class="input-group-prepend">
            <label for="dateBattle-{{match.id}}" class="input-group-text">{{ 'admin.rounds.selectBattleDate' | translate }} </label>
        </div>
        <input type="date" id="dateBattle-{{match.id}}" class="form-control" [(ngModel)]="match.date" [value]="match.date">
        <button type="button" class="btn btn-secondary without-border-left" (click)="save.emit(match)" [disabled]="!match.date"><fa-icon [icon]="faSave"></fa-icon></button>
    </div>

    <table class="table table-bordered item-width">
        <tbody>
        <tr [ngClass]="match.winner == 1 ? 'font-weight-bold' : ''">
            <td class="item-mini text-center">{{(i*2)+1}}</td>
            <td>
                <img *ngIf="match.rival1" src="https://www.countryflags.io/{{match.rival1.country_acronym}}/flat/32.png" alt="flag" class="flag">
                &nbsp;
                {{match.rival1 ? match.rival1.name+' '+match.rival1.lastname : ''}}
            </td>
            <td class="item-mini text-center position-relative">
                {{match.rival1_score ? match.rival1_score : '-'}}
                <div class="icon-live--container"  *ngIf="match.live">
                    <img src="assets/icon/live.png" alt="" class="icon-live text-danger">
                </div>
            </td>
            <td rowspan="2" class="item-mini no-padding position-relative">
                <a data-toggle="modal" data-target="#addScoreModal" class="text-dark a-open-modal" type="button" (click)="edit.emit(match)" [ngClass]="(!match.rival1 || !match.rival2) || !match.date ? 'a-is-disabled' : ''">
                    <fa-icon [icon]="faPencil" ></fa-icon>
                </a>
            </td>
        </tr>
        <tr [ngClass]="match.winner == 2 ? 'font-weight-bold' : ''">
            <td class="item-mini text-center">{{(i*2)+2}}</td>
            <td>
                <img *ngIf="match.rival2" src="https://www.countryflags.io/{{match.rival2.country_acronym}}/flat/32.png" alt="flag" class="flag">
                &nbsp;
                {{match.rival2 ? match.rival2.name+' '+match.rival2.lastname : ''}}
            </td>
            <td class="item-mini text-center">{{match.rival2_score ? match.rival2_score : '-'}}</td>
        </tr>
        </tbody>
    </table>
</div>
