<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> <img src="https://www.olympicchannel.com/images/static/logo-oc.svg"
                                           class="img-fluid w-100 d-block d-sm-none" alt="logo"/> <img
        src="https://www.olympicchannel.com/images/static/logo-oc.svg" class="img-fluid w-50 d-none d-sm-block"
        alt="logo"/> </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">{{ 'home.menu.events' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'home.menu.news' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'home.menu.originals' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'home.menu.tv' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'home.menu.sports' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'home.menu.athletes' | translate }}</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <button routerLink="/login" type="button" class="btn btn-secondary rounded-circle mr-3">
                    <fa-icon [icon]="faUser"></fa-icon>
                </button>
            </li>
            <li class="nav-item dropdown cursor-pointer">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ currentLanguage | uppercase }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [ngClass]="{'active': currentLanguage == language}" *ngFor="let language of languages" (click)="changeLanguage(language)">
                        {{ language | uppercase }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div style="background: #27313a; color: #fff;">
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-10 col-12">
                <h2 class="h2">{{ 'home.title' | translate }}</h2>
<!--                <div class="banner&#45;&#45;description">-->
<!--                    &lt;!&ndash; Event Location &ndash;&gt;-->
<!--                    <span class="event&#45;&#45;venue">Dakar, Amman, London, Buenos Aires, Paris</span>-->
<!--                    &lt;!&ndash; Event Location END &ndash;&gt;-->
<!--                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                    <span class="event&#45;&#45;date">-->
<!--                            <span class="event&#45;&#45;date__start event&#45;&#45;time_container">-->
<!--                                <span> | </span><span class="event&#45;&#45;time">20/02</span>-->
<!--                            </span>-->
<!--                            <span class="event&#45;&#45;date__end event&#45;&#45;time_container">-->
<!--                                <span> - </span><span class="event&#45;&#45;time">20/05</span>-->
<!--                            </span>-->
<!--                    </span>-->
<!--                    &lt;!&ndash; Dates END &ndash;&gt;-->

<!--                </div>-->
            </div>
        </div>
    </div>

<!--    <div id="events-sub-nav" class="clearfix" style="padding-top: 10px; padding-bottom: 10px; top: 90px;">-->

<!--        <div class="container">-->
<!--            <div id="ms-header-menu" class="owl-carousel d3-plugin off">-->
<!--                <a class="mr-4" style="color: white;" href="#"> OVERVIEW </a> <a class="mr-4" style="color: white;" href="#"> NEWS </a>-->
<!--                <a class="mr-4" style="color: white;" href="#">BROADCAST SCHEDULE </a> <a class="mr-4" style="color: white;" href="#"> INFO </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; NAVIGATION END &ndash;&gt;-->

<!--    </div>-->
</div>

<!--<table border="0" cellpadding="0" cellspacing="0" style="font-size: 90%; margin:1em 2em 1em 1em;">-->

<div class="container mt-3 mb-3">

    <div class="accordion" id="accordionTourney">
        <div class="card" *ngFor="let tourney of tournaments; let i = index">
            <div class="card-header cursor-pointer" [id]="'heading-'+i" (click)="buttonToggle.click()">
                <h2 class="mb-0 ml-3">
                    <button #buttonToggle class="btn btn-link button-rotate collapsed text-left position-relative"
                            type="button" data-toggle="collapse" [attr.data-target]="'#collapse-'+i"
                            [attr.aria-expanded]="false" [attr.aria-controls]="'collapse-'+i"
                            (click)="onSelectTournament(tourney, i, $event)">
                        <fa-icon [icon]="faAngleRight" class="rotate down" size="1x"></fa-icon>
                        {{tourney.tournament.name}} - <b>{{ clearCategoryToTranslate(tourney.category.name) | translate }} </b>
                        <span>({{ tourney.category.sex === 'F' ? ('general.female' | translate) : ('general.male' | translate) }})</span>
                        <br>
                        <span class="badge badge-secondary">{{ tourney.tournament.start_date }}</span> /
                        <span class="badge badge-secondary">{{ tourney.tournament.end_date }}</span>
                    </button>
                </h2>
            </div>

            <div [id]="'collapse-'+i" class="collapse" [attr.aria-labelledby]="'heading-'+i" [attr.data-parent]="'#accordionTourney'">
                <div class="card-body">
                    <ngx-loading [show]="loadingRivals"></ngx-loading>
<!--                    <div class="filter-buttons btn-group" role="group">-->
<!--                        <div class="btn-group" role="group">-->
<!--                            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                {{ selectedSex ? (selectedSex === 'F' ? ('general.female' | translate) : ('general.male' | translate)) : ('admin.rounds.filterSex' | translate) }}-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu">-->
<!--                                <a class="dropdown-item" (click)="onSelectSex('F')">{{ 'general.female' | translate }}</a>-->
<!--                                <a class="dropdown-item" (click)="onSelectSex('M')">{{ 'general.male' | translate }}</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="btn-group" role="group">-->
<!--                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="!selectedSex">-->
<!--                                {{ selectedCategory ? selectedCategory.name : ('admin.rounds.filterCategory' | translate) }}-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu">-->
<!--                                <a class="dropdown-item" *ngFor="let category of getCategoriesBySex()" (click)="onSelectCategory(category)">{{ (clearCategoryToTranslate(category.name) | translate) }}</a>-->
<!--                            </div>-->
<!--                            <div class="m-2">-->
<!--                                <span *ngIf="loadingRivals" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="alert alert-secondary mt-2" role="alert" *ngIf="round && !round.step1">
                        {{ 'home.noResultsForThisCategory' | translate }}
                    </div>

                    <div class="boxing-not-found" *ngIf="!round">
                        <img src="assets/icon/boxing.svg" alt="" class="boxing-not-found--img">
                    </div>

                    <app-battle-table [round]="round" [category]="selectedCategory"></app-battle-table>
                </div>
            </div>
        </div>
    </div>

</div>
