table td {
    border: none;
    background: white;
}

table td.title {
    text-align: center;
    border: 1px solid #aaa;
    background-color: #f2f2f2;
}

table td.line-top-right {
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: black;
}

table td.rival {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #aaa #aaa #aaa #aaa;
    background-color: #f9f9f9;
    padding-left: 5px;
}

table td.score {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #aaa #aaa #aaa #aaa;
    background-color: #f9f9f9;
}

.line-top-right {
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: black;
}

.line-top {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: black;
}

.line-right {
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: black;
}

.line-right-bottom {
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
}

.line-bottom {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: black;
}

.separation div div {
    width: 30px;
    height: 48px;
}

div.rival {
    height: 48px;
    padding: 12px;
    border: 1px solid #aaa;
    border-top-width: 0;
}

div.container-step-1 {
    padding: 0;
    margin: 0;
    border: 0 solid #aaa;
    border-top-width: 1px;
}

div.container-step-2 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.container-step-3 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.container-step-4 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.container-rival-par {
    border: 0 solid #aaa;
    border-top-width: 1px;
}



.boxing-not-found {
    position: absolute;
    left: 0;
    z-index: unset;
    &--img {
        height: 80%;
    }
}


.btn-link {
    color: #3b4853;
    transition: ease .1s;
}

.btn-link:hover {
    text-decoration: none;
    font-weight: bold;
}

.btn-link, .btn-link:focus {
    text-decoration: none;
    color: #101921;
}

.button-rotate {

    fa-icon {
        transition: all .2s linear;
        display: inline-block;
        transform: rotate(90deg);
    }
}

.button-rotate.collapsed {
    fa-icon {
        display: inline-block;
        transform: rotate(0deg);
    }
}
.rotate {
    position: absolute;
    left: -.5rem;
    top: 30%;
}
.card-body{
    min-height: 350px;
    border: 12px solid #dfdfdf;
    padding: 0 10px 10px;
    position: relative;
    .filter-buttons{
        position: absolute;
        top: -51px;
        left: 0;
    }
}

