<div class="container-fluid">
    <div class="row mb-2" *ngIf="round">
        <div class="col p-0 d-flex flex-column" *ngIf="round.step1">
            <div class="step-title">
                <p>Round of 16<br>{{round.step1.date | date: 'MMMM d'}}</p>
            </div>
            <div class="container-step-1">
                <div *ngFor="let match of round.step1.matches">
                    <app-battle-home-step [match]="match" (rivalToShow)="showRivalDetails($event)"></app-battle-home-step>
                </div>
            </div>
        </div>

        <div *ngIf="round.step2" class="separation left">
            <div>
                <div class="line-bottom">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right-bottom">
                </div>
                <div>
                </div>
            </div>
            <div>
                <div class="line-bottom">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right-bottom">
                </div>
                <div>
                </div>
            </div>
            <div>
                <div class="line-bottom">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right-bottom">
                </div>
                <div>
                </div>
            </div>
            <div>
                <div class="line-bottom">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right-bottom">
                </div>
                <div>
                </div>
            </div>
        </div>

        <div *ngIf="round.step2" class="separation right">
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div class="col p-0 d-flex flex-column" *ngIf="round.step2">
            <div class="step-title">
                <p>Quarterfinals<br>{{round.step2.date | date: 'MMMM d'}}</p>
            </div>

            <div class="col container-step-2">
                <div *ngFor="let match of round.step2.matches" class="container-rival-par">
                    <app-battle-home-step [match]="match" (rivalToShow)="showRivalDetails($event)"></app-battle-home-step>
                </div>
            </div>

        </div>

        <div *ngIf="round.step3" class="separation left">
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div class="line-right">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right">
                </div>
                <div class="line-right-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div class="line-right">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right">
                </div>
                <div class="line-right-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div *ngIf="round.step3" class="separation right">
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div class="col p-0 d-flex flex-column" *ngIf="round.step3">
            <div class="step-title">
                <p>Semifinals<br>{{round.step3.date | date: 'MMMM d'}}</p>
            </div>

            <div class="col container-step-3">
                <div *ngFor="let match of round.step3.matches" class="container-rival-par">
                    <app-battle-home-step [match]="match" (rivalToShow)="showRivalDetails($event)"></app-battle-home-step>
                </div>
            </div>
        </div>

        <div *ngIf="round.step4" class="separation left">
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div class="line-right">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right">
                </div>
                <div class="line-right">
                </div>
            </div>
            <div>
                <div class="line-right">
                </div>
                <div class="line-right-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div *ngIf="round.step4" class="separation right">
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div class="line-bottom">
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div class="col p-0 d-flex flex-column" *ngIf="round.step4">
            <div class="step-title">
                <p>Final<br>{{round.step4.date | date: 'MMMM d'}}</p>
            </div>

            <div class="col container-step-4">
                <div *ngFor="let match of round.step4.matches" class="container-rival-par">
                    <app-battle-home-step [match]="match" (rivalToShow)="showRivalDetails($event)"></app-battle-home-step>
                </div>
            </div>
        </div>
    </div>
</div>



<button #openModalShowRival [hidden]="true" (click)="open(content)" type="button">Open Modal</button>
<ng-template #content let-modal>
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <section class="col-sm-5">
                    <img [src]="rivalToShow?.photoUrl" alt="" class="rival-photo">
                </section>
                <section class="col-sm-7">
                    <div class="shield">
                        <div class="shield-flag">
                            <img src="https://www.countryflags.io/{{rivalToShow.country_acronym}}/flat/64.png" alt="">
                            <span></span>
                        </div>
                        <div class="shield-name">
                            <h2>{{rivalToShow?.name + ' ' + rivalToShow?.lastname}}</h2>
                        </div>
                        <div class="shield-details">
                            <div class="shield-details__step">
                                <p><b>DIVISION</b><br><span>{{category.name}}</span></p>
                            </div>
                            <hr>
                            <div class="shield-details__step">
                                <p><b>COUNTRY</b><br>{{rivalToShow?.country}}</p>
                            </div>
                            <hr>
                            <div class="shield-details__step">
                                <p><b>WEIGHT</b><br>{{rivalToShow?.weight}} KG</p>
                            </div>
                            <hr>
                            <div class="shield-details__step">
                                <p><b>GENDER</b><br>{{rivalToShow?.sex === 'F' ? 'FEMALE' : 'MALE'}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</ng-template>

