.media {
    align-items: center;
}
.card-country {
    line-height: 1;
}
.progress {
    height: 8px;
}
.table-secondary,.table-secondary>td,.table-secondary>th {
    background-color: #f6f8fb
}

.nav-tabs-custom {
    .nav-link-custom {
        display: block;
        padding: 0 1rem 0.9rem;
        color: #6c757d;
        &.active {
            color: #000000;
            border-bottom: 2px solid #007bff;
        }

        &.--general {
            padding-bottom: 1.2rem;
            &.active {
                color: #ffffff;
                span {
                    padding: 1px 4px;
                    border-radius: 5px;
                    background: #dc3545;
                }
            }
        }
    }
}


.flex-1 {
    flex: 1;
}
