<div class="mt-3">

    <div class="d-flex justify-content-between">
        <h3>Detailed Stats</h3>
        <nav class="pt-2">
            <div class="nav nav-tabs-custom" role="tablist">
                <a class="nav-item text-decoration-none nav-link-custom --general" id="nav-tab-home-1"
                   data-toggle="tab" href="#" role="tab" aria-controls="nav-home" aria-selected="true">
                    <span>Total</span>
                </a>
                <a class="nav-item text-decoration-none nav-link-custom --general" id="nav-tab-home-2"
                   data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <span>Q1</span>
                </a>
                <a class="nav-item text-decoration-none nav-link-custom --general active" id="nav-tab-home-3"
                   data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <span>Q2</span>
                </a>
                <a class="nav-item text-decoration-none nav-link-custom --general" id="nav-tab-home-4"
                   data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <span>Q3</span>
                </a>
                <a class="nav-item text-decoration-none nav-link-custom --general" id="nav-tab-home-5"
                   data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <span>Q4</span>
                </a>
            </div>
        </nav>
    </div>
    <hr class="mt-0">

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 pt-3">

        <div class="col mb-4">
            <div class="card border">
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                        <h6 class="card-title">Start lineup</h6>
                        <nav>
                            <div class="nav nav-tabs-custom" role="tablist">
                                <a class="nav-item text-decoration-none nav-link-custom active" id="nav-tab-1.1"
                                   data-toggle="tab" href="#" role="tab" aria-controls="nav-home" aria-selected="true">AUS</a>
                                <a class="nav-item text-decoration-none nav-link-custom" id="nav-tab-1.2"
                                   data-toggle="tab" href="#" role="tab" aria-controls="nav-profile"
                                   aria-selected="false">FRA</a>
                            </div>
                        </nav>
                    </div>
                </div>
                <hr class="mt-0">

                <div class="card-body pt-0">
                    <div class="d-flex justify-content-between">
                        <div class="media">
                            <img src="https://www.countryflags.io/AU/flat/48.png" class="align-self-start mr-3"
                                 alt="flag">
                            <div class="media-body">
                                <h6 class="card-country mt-2">Australia <br>
                                    <small class="text-muted text-uppercase">AUS</small>
                                </h6>
                            </div>
                        </div>
                        <div class="text-right">
                            <h6 class="card-country mt-2">Brendan Joyce <br>
                                <small class="text-muted text-uppercase">COACH</small>
                            </h6>
                        </div>
                    </div>
                    <div class="pt-4">
                        <table class="table ">
                            <thead>
                            <tr class="text-muted table-borderless">
                                <th scope="col" class="font-weight-normal" style="width: 38px;">No.</th>
                                <th scope="col" class="font-weight-normal">Names</th>
                                <th scope="col" class="font-weight-normal text-right" style="width: 72px;">Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-secondary">
                                <td class="text-center text-muted">1</td>
                                <td class="text-primary">Zucaritas, Mark</td>
                                <td class="text-center text-muted">T</td>
                            </tr>
                            <tr class="table-secondary">
                                <td class="text-center text-muted">2</td>
                                <td class="text-primary">Taylor, Jacob</td>
                                <td class="text-center text-muted">T</td>
                            </tr>
                            <tr class="table-secondary">
                                <td class="text-center text-muted">3</td>
                                <td class="text-primary">Stone, Larry</td>
                                <td class="text-center text-muted">T</td>
                            </tr>
                            <tr class="table-secondary">
                                <td class="text-center text-muted">4</td>
                                <td class="text-primary">Doe, John <span class="h4 badge badge-warning ml-2 mb-0">C&nbsp;</span>
                                </td>
                                <td class="text-center text-muted">T</td>
                            </tr>
                            <tr class="table-secondary">
                                <td class="text-center text-muted">5</td>
                                <td class="text-primary">Harris, Otto</td>
                                <td class="text-center text-muted">T</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card border">
                <div class="card-body pb-0">
                    <h6 class="card-title">Quarter 2 stats</h6>
                </div>
                <hr class="mt-2">

                <div class="card-body pt-0">
                    <div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img src="https://www.countryflags.io/AU/flat/24.png" class="mr-2" alt="flag">
                                <h6 class="mb-0">AUS</h6>
                            </div>
                            <div class="d-flex">
                                <h6 class="mb-0">FRA</h6>
                                <img src="https://www.countryflags.io/FR/flat/24.png" class="ml-2" alt="flag">
                            </div>
                        </div>
                        <hr>
                    </div>
                    <ul class="list-unstyled">
                        <li class="mt-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4>7/24</h4>
                                    <p class="text-muted">29.2</p>
                                </div>
                                <div>
                                    <p class="text-muted">FG</p>
                                    <h6 class="text-muted text-center mb-0">%</h6>
                                </div>
                                <div>
                                    <h4>11/22</h4>
                                    <p class="text-muted text-right">50.0</p>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-transparent" role="progressbar"
                                     [style.width.%]="25 * (100 - 29.2) / 50"
                                     aria-valuenow="35.4" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-secondary rounded-left" role="progressbar"
                                     [style.width.%]="25 * 29.2 / 50"
                                     aria-valuenow="14.6" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark rounded-right" role="progressbar"
                                     [style.width.%]="25 * 50.0 / 50"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mt-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4>11/22</h4>
                                    <p class="text-muted">50.0</p>
                                </div>
                                <div>
                                    <p class="text-muted">FG</p>
                                    <h6 class="text-muted text-center mb-0">%</h6>
                                </div>
                                <div>
                                    <h4>18/44</h4>
                                    <p class="text-muted text-right">40.9</p>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-transparent" role="progressbar"
                                     [style.width.%]="25 * (100 - 50.0) / 50"
                                     aria-valuenow="35.4" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-secondary rounded-left" role="progressbar"
                                     [style.width.%]="25 * 50.0 / 50"
                                     aria-valuenow="14.6" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark rounded-right" role="progressbar"
                                     [style.width.%]="25 * 40.9 / 50"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mt-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4>4</h4>
                                </div>
                                <div>
                                    <p class="text-muted">S</p>
                                </div>
                                <div>
                                    <h4>0</h4>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-transparent" role="progressbar"
                                     [style.width.%]="25 * (100 - 100) / 50"
                                     aria-valuenow="35.4" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-secondary rounded-left" role="progressbar"
                                     [style.width.%]="25 * 100 / 50"
                                     aria-valuenow="14.6" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark rounded-right" role="progressbar"
                                     [style.width.%]="25 * 0 / 50"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card border">
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                        <h6 class="card-title flex-1">Highest scoring players</h6>
                        <nav>
                            <div class="nav nav-tabs-custom" role="tablist">
                                <a class="nav-item text-decoration-none nav-link-custom active" id="nav-tab-3.1"
                                   data-toggle="tab" href="#" role="tab" aria-controls="nav-home" aria-selected="true">AUS</a>
                                <a class="nav-item text-decoration-none nav-link-custom" id="nav-tab-3.2"
                                   data-toggle="tab" href="#" role="tab" aria-controls="nav-profile"
                                   aria-selected="false">FRA</a>
                            </div>
                        </nav>
                    </div>
                </div>
                <hr class="mt-0">

                <div class="card-body pt-0">
                    <div class="media">
                        <img src="https://www.countryflags.io/AU/flat/48.png" class="align-self-start mr-3" alt="flag">
                        <div class="media-body">
                            <h6 class="card-country mt-2">Australia <br>
                                <small class="text-muted">AUS</small>
                            </h6>
                        </div>
                    </div>
                    <ul class="list-unstyled pt-4">
                        <li class="media border p-2 rounded">
                            <img src="assets/avatar.jpg" class="rounded-circle icon-48 mr-3" alt="avatar">
                            <div class="media-body">
                                <div class="m-0">Alfonso Pinto</div>
                                <small><span class="badge badge-warning badge-pill">14</span> points</small>
                            </div>
                        </li>
                        <li class="media border p-2 rounded my-4">
                            <img src="assets/avatar.jpg" class="rounded-circle icon-48 mr-3" alt="avatar">
                            <div class="media-body">
                                <div class="m-0">John Doe</div>
                                <small><span class="badge badge-warning badge-pill">17</span> points</small>
                            </div>
                        </li>
                        <li class="media border p-2 rounded">
                            <img src="assets/avatar.jpg" class="rounded-circle icon-48 mr-3" alt="avatar">
                            <div class="media-body">
                                <div class="m-0">Jason Momoa</div>
                                <small><span class="badge badge-warning badge-pill">12</span> points</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Modal ADD-EDIT -->
<div class="modal fade" id="formRivalModal" tabindex="-1" role="dialog" aria-labelledby="formRivalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formRivalCenterTitle">{{action === 'add' ? 'Add' : 'Edit'}} fighter</h5>
                <button #buttonCloseModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="rivalForm" (ngSubmit)="validateForm()">
                    <div class="row pl-3">
                        <section class="section-image col-3">
                            <img *ngIf="photoPreview" [src]="photoPreview" alt="Photo of rival" class="image">
                            <input type="file" accept=".jpg, .png" (change)="chargeImage($event)">
                            <fa-icon [icon]="faCamera"></fa-icon>
                        </section>

                        <section class="form-row align-items-center col-9">
                            <div class="form-group col-6">
                                <label class="sr-only" for="firstNameInput">Name</label>
                                <input type="text" class="form-control mb-3" id="firstNameInput"
                                       placeholder="First Name" formControlName="name">
                            </div>
                            <div class="form-group col-6">
                                <label class="sr-only" for="LastnameInput">Lastname</label>
                                <input type="text" class="form-control mb-3" id="LastnameInput" placeholder="Lastname"
                                       formControlName="lastname">
                            </div>
                            <div class="col-12" *ngIf="submitted && (data.name.errors || data.lastname.errors)">
                                <div *ngIf="submitted && data.name.errors" class="alert alert-danger">
                                    <div *ngIf="data.name.errors.required">Name is required</div>
                                </div>
                                <div *ngIf="submitted && data.lastname.errors" class="alert alert-danger">
                                    <div *ngIf="data.lastname.errors.required">Lastname is required</div>
                                </div>
                            </div>

                            <div class="form-group col-6">
                                <label class="sr-only" for="weightInput">Weight</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><b>Kg</b></div>
                                    </div>
                                    <input type="number" class="form-control" id="weightInput" placeholder="Weight"
                                           formControlName="weight">
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label class="sr-only" for="sexInputSelect">Sex</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <fa-icon [icon]="faVenusMars"></fa-icon>
                                        </div>
                                    </div>
                                    <select class="custom-select" id="sexInputSelect" formControlName="sex">
                                        <option selected disabled value="">Choose...</option>
                                        <option value="F">Female</option>
                                        <option value="M">Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="submitted && (data.weight.errors || data.sex.errors)">
                                <div *ngIf="submitted && data.weight.errors" class="alert alert-danger">
                                    <div *ngIf="data.weight.errors.required">Weight is required</div>
                                </div>
                                <div *ngIf="submitted && data.sex.errors" class="alert alert-danger">
                                    <div *ngIf="data.sex.errors.required">Select your sex</div>
                                </div>
                            </div>

                            <div class="form-group col-12 mb-0">
                                <label class="sr-only" for="countryInputSelect">Country</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <fa-icon [icon]="faFlag"></fa-icon>
                                        </div>
                                    </div>
                                    <select class="custom-select" id="countryInputSelect" data-live-search="true"
                                            formControlName="country">
                                        <option *ngIf="action === 'edit'" selected disabled
                                                [ngValue]="data.country.value">{{data.country.value ? data.country.value.country : 'Choose...'}}</option>
                                        <option *ngIf="action === 'add'" selected disabled [ngValue]="null">Choose...
                                        </option>
                                        <option *ngFor="let country of countries"
                                                [ngValue]="country">{{country.name}}</option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && data.country.errors" class="alert alert-danger">
                                    <div *ngIf="data.country.errors.required">Select your country</div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <footer class="col-12">
                        <div class=" d-flex justify-content-end">
                            <button [disabled]="loading" type="submit" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{action === 'add' ? 'Save' : 'Update' }} changes
                            </button>
                        </div>
                    </footer>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE -->
<div class="modal" tabindex="-1" role="dialog" id="confirmDeleteRivalModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure to delete?</h5>
                <button #buttonCloseConfirmModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action cannot go back, once deleted you will not be able to recover it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="deleteRival(selectedRival)">Yes, delete!</button>
            </div>
        </div>
    </div>
</div>


