/* You can add global styles to this file, and also import other style files */
@import '../node_modules/angular-archwizard/archwizard.css';

ng-dropdown-panel {
  background: #FFF !important;
  left: 0 !important;
  top: 37px;
  padding-left: 12px;
  box-shadow: 1px 1px 4px 1px #CCC;
}

.dropdown-menu .dropdown-item {
    cursor: pointer;
}
.no-padding{
  padding: 0 !important;
}
.a-is-disabled{
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}
.icon {
    &-24 {
        width: 24px;
        height: 24px;
    }
    &-48 {
        width: 48px;
        height: 48px;
    }
    &-64 {
        width: 64px;
        height: 64px;
    }
}

.item-mini{
    width: 45px;
    justify-content: center;
}
.item-width{
    width: 530px !important;
}
@media (max-width: 768px) {
    .item-width{
        max-width: 530px !important;
        width: 100% !important;
    }
}
@media (max-width: 576px) {

}


/* ICON WHILE THERE IS NO DATA */
.boxing-not-found{
    position: fixed;
    z-index: -5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease .4s;

    &--img{
        max-width: 40%;
        opacity: .1;
    }
}
/* END icon no data */

/* STEPS IN SET RESULTS*/
aw-wizard-navigation-bar.horizontal.small ul.steps-indicator {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
aw-wizard-step, aw-wizard-completion-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* END steps */
.icon-live--container {
    background: #FFF;
    position: absolute;
    top: 33px;
    left: -13px;
    width: 25px;
    height: 25px;
}
.icon-live{
    font-size: 20px;
    filter: invert(20%) sepia(100%) saturate(5942%) hue-rotate(356deg) brightness(105%) contrast(119%);
    width: 25px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
