<div class="mt-3">
    <h2>{{ 'admin.tournaments.title' | translate }}</h2>

    <div class="d-flex justify-content-end mt-3 mb-3">
        <button #openModalForm type="button" class="btn btn-dark" data-toggle="modal" data-target="#tournamentModalForm" [hidden]="true">Open Modal</button>
        <button type="button" class="btn btn-dark" (click)="openModal('add')">
            <fa-icon [icon]="faPlus"></fa-icon> {{ 'admin.tournaments.tournament' | translate }}
        </button>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'admin.tournaments.name' | translate }}</th>
            <th scope="col">{{ 'admin.tournaments.startDate' | translate }}</th>
            <th scope="col">{{ 'admin.tournaments.endDate' | translate }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="5" *ngIf="loadingTournaments">
                <div class="d-flex justify-content-center w-100">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                </div>
            </td>
            <td colspan="5" *ngIf="!loadingTournaments && tournaments.length === 0">
                <div class="d-flex justify-content-center w-100">
                    <span class="">{{ 'admin.tournaments.emptyList' | translate }}</span>
                </div>
            </td>
        </tr>
        <tr *ngFor="let tourney of tournaments; let i = index">
            <th scope="row">{{dataForPagination.pageInUse > 1 ? (i + 1) + ((dataForPagination.pageInUse -1) *20) : (i + 1) }}</th>
            <td>{{tourney.name}}</td>
            <td>{{tourney.start_date}}</td>
            <td>{{tourney.end_date}}</td>
            <td>
                <a class="text-secondary" type="button" (click)="openModal('edit', tourney, i)">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </a>&nbsp;
                <a data-toggle="modal" data-target="#confirmDeleteRivalModal" class="text-danger" type="button" (click)="selectedTournamentDelete=tourney">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
     <!-- PAGINATION -->
     <app-pagination [dataPages]='dataForPagination' (clickPage)='getPage($event)' *ngIf='dataForPagination.pages.length > 0'></app-pagination>
</div>

<!-- Modal ADD-EDIT -->
<div class="modal fade" id="tournamentModalForm" tabindex="-1" role="dialog" aria-labelledby="tournamentModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tournamentModalCenterTitle"> {{action === 'add' ? ('admin.tournaments.addTournament' | translate) :  ('admin.tournaments.updateTournament' | translate) }}</h5>
                <button #buttonCloseModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="tournamentForm" (ngSubmit)="validateTournament()">

                    <div class="form-row align-items-center">
                        <div class="form-group col-12">
                            <label for="nameInput">{{ 'admin.tournaments.name' | translate }}</label>
                            <input type="text" class="form-control mb-3" id="nameInput" placeholder="{{ 'admin.tournaments.name' | translate }}" formControlName="name">
                        </div>
                        <div class="form-group col-6">
                            <label for="startDateInput">{{ 'admin.tournaments.startDate' | translate }}</label>
                            <input type="date" class="form-control mb-3" id="startDateInput" placeholder="{{ 'admin.tournaments.startDate' | translate }}" formControlName="start_date">
                        </div>
                        <div class="form-group col-6">
                            <label for="endDateInput">{{ 'admin.tournaments.endDate' | translate }}</label>
                            <input type="date" class="form-control mb-3" id="endDateInput" placeholder="{{ 'admin.tournaments.endDate' | translate }}" formControlName="end_date">
                        </div>
                    </div>

                    <footer class="col-12 pr-0">
                        <div class=" d-flex justify-content-end">
                            <button [disabled]="loading" type="submit" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{action === 'add' ? ('admin.tournaments.addTournament' | translate) :  ('admin.tournaments.updateTournament' | translate) }}
                            </button>
                        </div>
                    </footer>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal DELETE -->
<div class="modal" tabindex="-1" role="dialog" id="confirmDeleteRivalModal" aria-hidden="true" *ngIf="selectedTournamentDelete">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'admin.tournaments.titleConfirmDelete' | translate }}</h5>
                <button #buttonCloseConfirmModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> {{ 'admin.tournaments.theTournament' | translate }} <b>"{{selectedTournamentDelete.name}}"</b> {{ 'admin.tournaments.willDeleted' | translate }} <br>
                    {{ 'admin.tournaments.messageConfirmDelete' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'general.close' | translate }}</button>
                <button type="button" class="btn btn-primary" (click)="deleteTournament()">{{ 'general.textDelete' | translate }}</button>
            </div>
        </div>
    </div>
</div>
